@import "~antd/dist/antd.less";

body {
    margin: 0;
}

/*------Page Fade-----*/

.page-fade-enter-active {
    opacity: 1;
}

.page-fade-enter-done {
    transform: translateY(0) !important;
    opacity: 1 !important;
}
